
@{
    ViewData["Title"] = "Index";
}

    <header>
        <div id="dropdown_menu">
            <h3 id="menu_headline">Menu</h3>
            <div id="dropdown_nav">
                <a href="#">Log-out</a>
                <a href="#">Restart</a>
                <a href="#">Highscore</a>
            </div>
            </div>
    </header>
    <section>

        <img src="~/images/the_general.png" id="gameImage">
        
    </section>


    <script src="~/js/game.js"></script>