
@{
    ViewData["Title"] = "Index";
}

    <header id="game_header">
        <div id="dropdown">
            <h3 id="menu_headline">Menu</h3>
            <div id="dropdown_nav">
                <a href="#">Log-out</a>
                <a href="#">Restart</a>
                <a href="#">Highscore</a>
            </div>
            <h3 id="years_office">Years in office: 0</h3>
            </div>
    </header>
    <section id="section_game">
        <div class="container">
            
            <div class="flex-buttons" id="pillars">
                <div id="game-money" class="game-icon">
                    <canvas id="game-money-canvas"></canvas>
                    
                </div>
                <div id="game-happiness" class="game-icon">
                    <canvas id="game-happiness-canvas"></canvas>
                   
                </div>
                <div id="game-relations" class="game-icon">
                    <canvas id="game-relations-canvas"></canvas>
                    
                </div>
                <div id="game-military" class="game-icon">
                    <canvas id="game-military-canvas"></canvas>
                    
                </div>
            </div>
            <div id="yes">
                <button class="answer-button" onclick="agree();">Yes</button>
            </div>
            <div id="game-cards">
                <img src="~/images/the_general.png" id="gameImage">
                <p id="Cardtext"> Hello sir..! nice to meet you! Ready to kick some ass! SAkl sdlk adflk dflk adfk</p>
            </div>
            <div id="no">
                <button class="answer-button" onclick="disagree();">No</button>
            </div>
        </div>
    </section>
    <body>
        
        <div id="cardContainer"></div>
    </body>


    <script src="~/js/game.js"></script>