
@{
    ViewData["Title"] = "Index";
}

    <header id="game_header">
        <div id="dropdown">
            <h3 id="menu_headline">Menu</h3>
            <div id="dropdown_nav">
                <a href="#">Log-out</a>
                <a href="#">Restart</a>
                <a href="#">Highscore</a>
            </div>
            </div>
    </header>
    <section id="section_game">
        <div id="container">

            <img src="~/images/the_general.png" id="gameImage">
        </div>
    </section>


    <script src="~/js/game.js"></script>