/*Mobile first*/


html {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin:0px;
   padding:0px;
}

body {
    overflow: hidden;
    background-image: url(../images/home_page.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Grid*/
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#loginHome 
{
    grid-area: 1 / 2 / 6 / 5;
}



h1 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px black;
    transition: transform 0.5s;
}

    h1:hover {
        transform: scale(1.5);
        
    }

h3 {
    font-size: 25px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    width: 50%;
    background-color: rgba(196, 196, 196, 80%);
    padding: 30px;
    border-radius: 20px;
    transition: transform 0.5s;
}
    .form:hover {
        transform: scale(1.1);   
    }
.flex-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexaside-innner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

form {
    width: 100%;
}

input {
    margin: 10px;
}

.Text_input {
    padding: 10px;
    width: 80%;
}

.button {
    margin-top: 30px;
    background-color: #FBB540;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: transform .2s;
}

    .button:hover {
        transform: scale(1.2);
        background-color: blue;
        cursor: pointer;
    }

#create {
    display: none;
}

#left {
    grid-area: 1 / 1 / 6 / 2;
}

#right {
    grid-area: 1 / 5 / 6 / 6;
}
.characters {
    width: 80%;
    margin:1px;
}
#left .characters {
    transform: rotate(30deg);
    transition: 0.3s;
}

#right .characters {
    transform: rotate(330deg);
    transition: 0.3s;
}

/*should only be on desktop*/
#left .characters:hover {
    transform: rotate(15deg);
}

#right .characters:hover {
    transform: rotate(345deg);
}

/*Style for the game page*/
.game-image-icon {
    width: 50px;
    height: auto;
}

.game-icon {

}
    
    .game-icon * {
        width: 100px;
        height: 100px;
    }

#pillars {
    grid-area:1/1/2/6;
}


#yes {
    grid-area: 2/1/5/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#no {
    grid-area: 2/4/5/6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-cards {
    grid-area: 2/3/5/4;
    transition: transform 0.5s;
}


.answer-button {
    color: white;
    font-size: 40px;
    font-weight: bold;
    height: 80%;
    width: 50%;
    background-color: #1A4C74;
    border-style: none;
    border-radius: 20px;
    box-shadow: 0px 11px 8px -7px rgba(0,0,0,0.29);
    text-align: center;
    transition: transform 0.5s;
    
}
    .answer-button:hover {
        transform:scale(1.1);
        
    }



#gameImage {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 11px 8px -7px rgba(0,0,0,0.29);
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}



#CardText {
   
    position:absolute;
    color:white;
    text-align:center;
    width:20%;
    z-index:1;
   
}

   

/*Dropdown menu*/
#dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
}
#menu_headline {
    color: white;
    padding: 0px 25px;
}
#years_office {
    position:absolute;
    color: white;
   right: 12%;
   top:  12px;
}
#dropdown_nav {
    visibility: hidden;
    background-color: #1A4C74;
    z-index: 1;
    
}

    #dropdown_nav a {
        color: white;
        padding: 12px 26px;
        text-decoration: none;
    }
        #dropdown_nav a:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        #dropdown:hover {
            background-color: #1A4C74;
        }
    #dropdown:hover #dropdown_nav {
        visibility: visible;
        
    }

            #dropdown:hover #menu_headline {
                text-decoration: underline;
                cursor: pointer;
                color:black;
            }
    /*desktop*/
    @media (min-width: 768px) {
        html {
        font-size: 16px;
    }

    body {
        background-image: url(../images/home_page.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
    }
}
