/*Mobile first*/
html {
  font-size: 14px;
  font-family:'Roboto Slab';
  
}
body {
    background-image: url(../images/home_page.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.form {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 25%;
    background-color:aquamarine;
    padding: 20px;
border-radius:20px;
}

form {
  
    width: 80%;
    margin:20px;
}

input {
    margin:5px;
}

/*desktop*/
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

