
@{
    ViewData["Title"] = "_Layout";
}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/site.css" />
        <link rel="stylesheet" type="text/css" href="~/css/game.css"/>
    </head>

    <body>
        @RenderBody()
    </body>
</html>