@{
    ViewData["Title"] = "Home Page";
}



<section id="loginHome">
    <div id="flexbox">
        <h1>Govern</h1>
        <div class="form">

            <form id="LoginForm" action="" method="post">
                <div class="flex-inner">
                    <h3>Rule the country!</h3>
                    <input class="Text_input" type="text" placeholder="username" required>
                    <input class="Text_input" type="password" placeholder="password" required>
                </div>
                <div class="flex-buttons">
                    <input class="button" type="submit" value="Log-in">
                    <input class="button" type="button" value="Create account" onclick="">
                </div>
            </form>
        </div>
        <div class="form" id="create">
            <form id="CreateAccountForm" action="" method="post">
                <div class="flex-inner">
                    <h3> Become our leader!</h3>
                    <input class="Text_input" type="text" placeholder="Create username" required>
                    <input class="Text_input" type="password" placeholder="Create Password" required>
                    <div class="flex-buttons">
                        <input class="button" type="submit" value="Create">
                        </div>
                    </div>
</form>
        </div>
    </div>
</section>