@{
    ViewData["Title"] = "Home Page";
}

    
    <div class="container">

        <section id="loginHome">
            <div class="flexbox">
                <h1>Govern</h1>
                <div class="form">
                    <form id="LoginForm" action="" method="post">
                        <div class="flex-inner">
                            <h3>Rule the country!</h3>
                            <input class="Text_input" type="text" placeholder="username" >
                            <input class="Text_input" type="password" placeholder="password" >
                        </div>
                        <div class="flex-buttons">
                            <input class="button" type="button" value="Start" onclick="location.href='@Url.Action("Index", "game")'">
                            <input class="button" type="button" value="Continue" onclick="location.href='@Url.Action("Index", "game")'">
                        </div>
                    </form>
                </div>
                <div class="form" id="create">
                    <form id="CreateAccountForm" action="" method="post">
                        <div class="flex-inner">
                            <h3> Become our leader!</h3>
                            <input class="Text_input" type="text" placeholder="Create username" required>
                            <input class="Text_input" type="password" placeholder="Create Password" required>
                            <div class="flex-buttons">
                                <input class="button" type="submit" value="Create">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <aside id="left">
            <div class="flexaside-inner">
                <img class="characters" src="../images/minister of trade_home.png" alt="Minister of trade" />
                <img class="characters" src="../images/advicer_home.png" alt="The advicer" />
            </div>
        </aside>
        <aside id="right">
            <div class="flexaside-inner">
                <img class="characters" src="../images/the general_home.png" alt="The Generel" />
                <img class="characters" src="../images/diplomat_home.png" alt="The diplomat" />
            </div>
        </aside>

    </div>
<body>
    <script>
        $(window).bind("beforeunload", function () {
            return true || confirm("Do you really want to close?");
        }); 
    </script>
</body>
