@{
    ViewData["Title"] = "Home Page";
}



<h1>Be my leader</h1>

<section id="loginHome">

    <div class="form">
        <h3>Log-in to rule our country!</h3>
        <form id="LoginForm" action="" method="post">
            <input type="text" placeholder="username" required>
            <input type="password" placeholder="password" required>
            <input class="button" type="submit" value="Log-in">
            <input class="button" type="button" value="Create account" onclick="">
        </form>
    </div>

    <form id="CreateAccountForm" action="" method="post">
        <h3> Become our leader!</h3>
        <input type="text" placeholder="Create username" required>
        <input type="password" placeholder="Create Password" required>
        <input class="button" type="submit" value="Create">
    </form>

</section>
