@{
    ViewData["Title"] = "Home Page";
}

<h1>Be my leader</h1>

<form id="LoginForm" action="" method="post">
    <input type="text" value="username" required>
    <input type="password" value="password" required>
    <input type="submit" value="Log-in">
    <input type="button" value="Create account">
</form>

<form id="CreateAccountForm" action="" method="post">
    <input type="text" value="Create username" required>
    <input type="password" value="Create Password" required>
    <input type="submit" value="Create">
</form>
